
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <link href="~/Revive/css/linearicons.css" rel="stylesheet" />
    <link href="~/Revive/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Revive/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Revive/css/nice-select.css" rel="stylesheet" />
    <link href="~/Revive/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Revive/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Revive/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Revive/css/themify-icons.css" rel="stylesheet" />
    <link href="~/Revive/css/main.css" rel="stylesheet" />
    <style>
        @@media only screen and (min-width:960px) {
            #img {
                width: 120px;
                height: 120px;
                position: absolute;
                margin-left: 140px;
                margin-top: 30px;
            }

            #h1 {
                text-align: center;
                color: white;
            }

            #p {
                text-align: center;
                color: white
            }
        }

        @@media only screen and (min-width:769px) and (max-width:959px) {
            #img {
                width: 80px;
                height: 80px;
                position: absolute;
                margin-left: 100px;
                margin-top: 50px;
            }

            #h1 {
                text-align: center;
                font-size: 50px;
                color: white;
            }

            #p {
                text-align: center;
                font-size: 25px;
                color: white
            }
        }

        @@media only screen and (max-width:768px) {
            #img {
                width: 80px;
                height: 80px;
                position: absolute;
                margin-left: 60px;
                margin-top: 56px;
                margin-bottom: 50px;
            }

            #h1 {
                text-align: center;
                font-size: 40px;
                color: white;
            }

            #p {
                text-align: center;
                font-size: 20px;
                color: white
            }
        }
    </style>
</head>

<body>
    <section class="home-banner-area relative">
        <div class="container-fluid">
            <div class="row">
                <div class="owl-carousel home-banner-owl owl-loaded owl-drag" style="height:600px;">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-1734px, 0px, 0px); transition: all 1.5s ease 0s; width: 6936px;">
                            <div class="owl-item cloned" style="width:550px;height:50px;">
                                <div class="banner-img">
                                    <img class="img-fluid" src="~/Images/Screenshot_11.png" alt="">
                                    <div class="text-wrapper">
                                        @*<a href="#" class="d-flex">
                                                <h1>
                                                    Make the world a better place <br>
                                                    with camera
                                                </h1>
                                            </a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width:550px;height:450px;">
                                <div class="banner-img">
                                    <img class="img-fluid" src="~/Images/7-Best-gyms.jpg" alt="">
                                    <div class="text-wrapper">
                                        @*<a href="#" class="d-flex">
                                                <h1>
                                                    Make the world a better place <br>
                                                    with camera
                                                </h1>
                                            </a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width:550px;height:50px;">
                                <div class="banner-img">
                                    <img class="img-fluid" src="~/Images/Screenshot_11.png" alt="">
                                    <div class="text-wrapper">
                                        @*<a href="#" class="d-flex">
                                                <h1>
                                                    Make the world a better place <br>
                                                    with camera
                                                </h1>
                                            </a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width:550px;height:450px;">
                                <div class="banner-img">
                                    <img class="img-fluid" src="~/Images/7-Best-gyms.jpg" alt="">
                                    <div class="text-wrapper">
                                        @*<a href="#" class="d-flex">
                                                <h1>
                                                    Make the world a better place <br>
                                                    with camera
                                                </h1>
                                            </a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width:550px;height:50px;">
                                <div class="banner-img">
                                    <img class="img-fluid" src="~/Images/Screenshot_11.png" alt="">
                                    <div class="text-wrapper">
                                        @*<a href="#" class="d-flex">
                                                <h1>
                                                    Make the world a better place <br>
                                                    with camera
                                                </h1>
                                            </a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width:550px;height:450px;">
                                <div class="banner-img">
                                    <img class="img-fluid" src="~/Images/7-Best-gyms.jpg"alt="">
                                    <div class="text-wrapper">
                                        @*<a href="#" class="d-flex">
                                                <h1>
                                                    Make the world a better place <br>
                                                    with camera
                                                </h1>
                                            </a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width:550px;height:50px;">
                                <div class="banner-img">
                                    <img class="img-fluid" src="~/Images/Screenshot_11.png" alt="">
                                    <div class="text-wrapper">
                                        @*<a href="#" class="d-flex">
                                                <h1>
                                                    Make the world a better place <br>
                                                    with camera
                                                </h1>
                                            </a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width:550px;height:450px;">
                                <div class="banner-img">
                                    <img class="img-fluid" src="~/Images/7-Best-gyms.jpg" alt="">
                                    <div class="text-wrapper">
                                        @*<a href="#" class="d-flex">
                                                <h1>
                                                    Make the world a better place <br>
                                                    with camera
                                                </h1>
                                            </a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><img src="img/prev.png" alt=""></button><button type="button" role="presentation" class="owl-next"><img src="img/next.png" alt=""></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
                        </div>*@
                </div>
            </div>

            <div class="social-icons" style="margin-top:-150px;">
                <ul>
                    @*<li>
                            <a href="~/Views/Home/Blog.cshtml"><img src="~/Images/facebook (1).png" /></a>
                        </li>
                        <li>
                            <a href="~/Views/Home/Blog.cshtml"><img src="~/Images/twitterr.png" /></a>
                        </li>
                        <li>
                            <a href="~/Views/Home/Blog.cshtml"><img src="~/Images/pinterest (2).png" /></a>
                        </li>*@
                    <li class="diffrent" style="color:white">Geforce GYM Blog</li>
                </ul>
            </div>
        </div>
    </section>


    <section class="blog-post-area section-gap relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-amenities">
                                <div class="amenities-thumb">
                                    <img class="img-fluid w-100"
                                         src="~/Images/achievement.jpg"
                                         alt="" />
                                </div>
                                <div class="amenities-details">
                                    <h5>
                                        <a href="#">
                                            There's information about trainings this here
                                        </a>
                                    </h5>
                                    <div class="amenities-meta mb-10">
                                        <a href="#" class=""><img src="~/Images/calendar (1).png" />  20th Nov, 2018</a>
                                    </div>
                                    <p>
                                        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                                    </p>
                                    <div class="d-flex justify-content-between mt-20">
                                    </div>
                                </div>
                            </div>
                            <div class="single-amenities">
                                <div class="amenities-thumb">
                                    <img class="img-fluid w-100"
                                         src="~/Images/www.jpg"
                                         alt="" />
                                </div>
                                <div class="amenities-details">
                                    <h5>
                                        <a href="#">
                                            There's information about trainings this here
                                        </a>
                                    </h5>
                                    <div class="amenities-meta mb-10">
                                        <a href="#" class=""><img src="~/Images/calendar (1).png" />  20th Nov, 2018</a>
                                    </div>
                                    <p>
                                        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                                    </p>
                                    <div class="d-flex justify-content-between mt-20">
                                    </div>
                                </div>
                            </div>
                            <div class="single-amenities">
                                <div class="amenities-thumb">
                                    <img class="img-fluid w-100"
                                         src="~/Images/halterr.jpg"
                                         alt="" />
                                </div>
                                <div class="amenities-details">
                                    <h5>
                                        <a href="#">
                                            There's information about trainings this here
                                        </a>
                                    </h5>
                                    <div class="amenities-meta mb-10">
                                        <a href="#" class=""><img src="~/Images/calendar (1).png" />  20th Nov, 2018</a>
                                    </div>
                                    <p>
                                        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                                    </p>
                                    <div class="d-flex justify-content-between mt-20">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br /><br /><br /><br /><br /><br /><br /><br />
                        <div class="col-lg-6 col-md-6">
                            <div class="single-amenities">
                                <div class="amenities-thumb">
                                    <img class="img-fluid w-100"
                                         src="~/Images/runn.jpg"
                                         alt="" />
                                </div>
                                <div class="amenities-details">
                                    <h5>
                                        <a href="#">
                                            There's information about trainings this here
                                        </a>
                                    </h5>
                                    <div class="amenities-meta mb-10">
                                        <a href="#" class=""><img src="~/Images/calendar (1).png" />  20th Nov, 2018</a>
                                    </div>
                                    <p>
                                        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                                    </p>
                                    <div class="d-flex justify-content-between mt-20">
                                    </div>
                                </div>
                            </div>

                            <div class="single-amenities">
                                <div class="amenities-thumb">
                                    <img class="img-fluid w-100"
                                         src="~/Images/womann.jpg"
                                         alt="" />
                                </div>
                                <div class="amenities-details">
                                    <h5>
                                        <a href="#">
                                            There's information about trainings this here
                                        </a>
                                    </h5>
                                    <div class="amenities-meta mb-10">
                                        <a href="#" class=""><img src="~/Images/calendar (1).png" />  20th Nov, 2018</a>
                                    </div>
                                    <p>
                                        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                                    </p>
                                    <div class="d-flex justify-content-between mt-20">
                                    </div>
                                </div>
                            </div>

                            <div class="single-amenities">
                                <div class="amenities-thumb">
                                    <img class="img-fluid w-100"
                                         src="~/Images/mann.jpg"
                                         alt="" />
                                </div>
                                <div class="amenities-details">
                                    <h5>
                                        <a href="#">
                                            There's information about trainings this here
                                        </a>
                                    </h5>
                                    <div class="amenities-meta mb-10">
                                        <a href="#" class=""><img src="~/Images/calendar (1).png" />  20th Nov, 2018</a>
                                    </div>
                                    <p>
                                        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                                    </p>
                                    <div class="d-flex justify-content-between mt-20">
                                    </div>
                                </div>
                            </div>
                            <br /><br /><br /><br /><br /><br /><br />
                        </div>
                    </div>
                </div>
                <!-- Start Blog Post Siddebar -->
                <div class="col-lg-4 sidebar-widgets">
                    <div class="widget-wrap">
                        <div class="single-sidebar-widget instafeed-widget">
                            <h4 class="instafeed-title">Instagram</h4>
                            <ul class="instafeed d-flex flex-wrap">
                                <li><img src="~/Images/mmm1.jpg" alt="" style="width:100px;height:100px;"></li>
                                <li><img src="~/Images/mmm2.jpg" alt="" style="width:100px;height:100px;"></li>
                                <li><img src="~/Images/mmm3.jpg" alt="" style="width:100px;height:100px;"></li>
                                <li><img src="~/Images/muscular-fit-man.jpg" alt="" style="width:100px;height:100px;"></li>
                            </ul>
                        </div>

                        <div class="single-sidebar-widget popular-post-widget">
                            <h4 class="popular-title">Popular Posts</h4>
                            <div class="popular-post-list">
                                <div class="single-post-list">
                                    <div class="thumb">
                                        <img class="img-fluid" src="~/Images/muscular-fit-man.jpg" alt="">
                                    </div>
                                    <div class="details mt-20">
                                        <a href="blog-single.html">
                                            <h6>
                                                Post of this month
                                            </h6>
                                        </a>
                                        <p>Mate Winston | Dec 15</p>
                                    </div>
                                </div>
                                <div class="single-post-list">
                                    <div class="thumb">
                                        <img class="img-fluid" src="~/Images/gyms.jpg" alt="">
                                    </div>
                                    <div class="details mt-20">
                                        <a href="blog-single.html">
                                            <h6>
                                                Post of this month
                                            </h6>
                                        </a>
                                        <p>Mate Winston | Dec 15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-sidebar-widget share-widget">
                            <h4 class="share-title">Share this post</h4>
                            <div class="social-icons mt-20">
                                <a href="#">
                                    <img src="~/Images/facebook-logo.png" />
                                </a>
                                <a href="#">
                                    <img src="~/Images/twitter-logo-silhouette.png" />
                                </a>
                                <a href="#">
                                    <img src="~/Images/pinterest-circular-logo-symbol.png" />
                                </a>
                                <a href="#">
                                    <img src="~/Images/instagram-symbol.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Blog Post Siddebar -->
        </div>

    </section>
    <!--================ End Blog Post Area =================-->
    <div class="jumbotron jumbotron-fluid" id="jumbotron" style="margin-bottom:-1px;">
        <div style="background-color:black; height:180px;">
            <img src="/Images/12618.gif" alt="Alternate Text" id="img" />
            <h1 class="display-4 p-3" id="h1">Geforce GYM</h1>
            <p class="lead" id="p"><i>No pain no gain!</i></p>
        </div>
    </div>
</body>

