
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/flaticon.css" rel="stylesheet" />
    <link href="~/css/icomoon.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <style>
        @@media only screen and (min-width:960px) {
            #img {
                width: 120px;
                height: 120px;
                position: absolute;
                margin-left: 140px;
                margin-top: 30px;
            }

            #h1 {
                text-align: center;
                color: white;
            }

            #p {
                text-align: center;
                color: white
            }
        }

        @@media only screen and (min-width:769px) and (max-width:959px) {
            #img {
                width: 80px;
                height: 80px;
                position: absolute;
                margin-left: 100px;
                margin-top: 50px;
            }

            #h1 {
                text-align: center;
                font-size: 50px;
                color: white;
            }

            #p {
                text-align: center;
                font-size: 25px;
                color: white
            }
        }

        @@media only screen and (max-width:768px) {
            #img {
                width: 80px;
                height: 80px;
                position: absolute;
                margin-left: 60px;
                margin-top: 56px;
                margin-bottom: 50px;
            }

            #h1 {
                text-align: center;
                font-size: 40px;
                color: white;
            }

            #p {
                text-align: center;
                font-size: 20px;
                color: white
            }
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 style="position:center;margin-right:480px;margin-left:480px;font-size:35px;"><b>Contact Us</b></h1>
        <hr style="margin-right:400px;margin-left:370px;"/>
        <br />
              <p style="color:black">
                  <b style="font-size:22px;">ACCESSIBILITY</b>
                  <br /><br />
                  We are currently trying to improve access to all of our sites and services so everyone can enjoy them. Should you require more information about our venues and services please view our accessibility information.
              </p>
        <img src="~/Images/bxr-boxinggym-hd-4.jpg" style="width:100%;height:550px;" />
        <br /><br />
              <p style="color:black">
                  <b style="font-size:30px;">Say Hello</b> 
                  <br />
                  Odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.   
                 
              </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d96280.94720580103!2d28.964405864871893!3d41.05194863542964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smacfit!5e0!3m2!1sen!2str!4v1563460005629!5m2!1sen!2str" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
    <section class="ftco-section contact-section">
        <div class="container">
            <div class="row d-flex contact-info">
                <div class="col-md-3 d-flex">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <img src="~/Images/address (1).png" />
                        </div>
                        <h3 class="mb-4">Address</h3>
                        <p>198 West 21th Street, Suite 721 New York NY 10016</p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <img src="~/Images/phone-receiver.png" />
                        </div>
                        <h3 class="mb-4">Contact Number</h3>
                        <p><a href="tel://1234567920">+ 1235 2355 98</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <img src="~/Images/paper-plane.png" />
                        </div>
                        <h3 class="mb-4">Email Address</h3>
                        <p><a href="mailto:info@yoursite.com">info@geforcegym.com</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <img src="~/Images/world.png" />
                        </div>
                        <h3 class="mb-4">Website</h3>
                        <p><a href="#">geforcegym.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="jumbotron jumbotron-fluid" id="jumbotron" style="margin-bottom:-1px;">
        <div style="background-color:black; height:180px;">
            <img src="/Images/12618.gif" alt="Alternate Text" id="img" />
            <h1 class="display-4 p-3" id="h1">Geforce GYM</h1>
            <p class="lead" id="p"><i>No pain no gain!</i></p>
        </div>
    </div>
</body>