
@{
    ViewBag.Title = "Gallery";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap 4 Card Columns</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .bs-example {
            margin: 20px;
        }
        @@media only screen and (min-width:960px) {
            #img {
                width: 120px;
                height: 120px;
                position: absolute;
                margin-left: 140px;
                margin-top: 30px;
            }

            #h1 {
                text-align: center;
                color: white;
            }

            #p {
                text-align: center;
                color: white
            }
        }

        @@media only screen and (min-width:769px) and (max-width:959px) {
            #img {
                width: 80px;
                height: 80px;
                position: absolute;
                margin-left: 100px;
                margin-top: 50px;
            }

            #h1 {
                text-align: center;
                font-size: 50px;
                color: white;
            }

            #p {
                text-align: center;
                font-size: 25px;
                color: white
            }
        }

        @@media only screen and (max-width:768px) {
            #img {
                width: 80px;
                height: 80px;
                position: absolute;
                margin-left: 60px;
                margin-top: 56px;
                margin-bottom: 50px;
            }

            #h1 {
                text-align: center;
                font-size: 40px;
                color: white;
            }

            #p {
                text-align: center;
                font-size: 20px;
                color: white
            }
        }
    </style>
</head>
<body style="background-color:grey">
    <div class="bs-example">
        <div class="container">
            <div class="row">
                <div class="card-columns">
                    <div class="card" style="box-shadow:2px 2px 22px 7px rgba(255,255,255,1);">
                        <img src="~/Images/Fun-Boxing-Gyms-To-Try-Out-In-Singapore_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="height:80px;">

                        </div>
                    </div>
                    <div class="card" style="box-shadow:2px 2px 22px 7px rgba(255,255,255,1);">
                        <img src="~/Images/Screenshot_6.png" class="card-img-top" alt="...">
                        <div class="card-body" style="height:80px;">

                        </div>
                    </div>
                    <div class="card" style="box-shadow:2px 2px 22px 7px rgba(255,255,255,1);">
                        <img src="~/Images/photo-1517637633369-e4cc28755e01.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="height:80px;">

                        </div>
                    </div>
                    <div class="card" style="box-shadow:2px 2px 22px 7px rgba(255,255,255,1);">
                        <img src="~/Images/Screenshot_5.png" class="card-img-top" alt="...">
                        <div class="card-body" style="height:80px;">

                        </div>
                    </div>
                    <div class="card" style="box-shadow:2px 2px 22px 7px rgba(255,255,255,1);">
                        <img src="~/Images/Screenshot_2.png" class="card-img-top" alt="...">
                        <div class="card-body" style="height:80px;">

                        </div>
                    </div>
                    <div class="card" style="box-shadow:2px 2px 22px 7px rgba(255,255,255,1);">
                        <img src="~/Images/bxr-boxinggym-hd-4.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="height:80px;">

                        </div>
                    </div>
                    <div class="card" style="box-shadow:2px 2px 22px 7px rgba(255,255,255,1);">
                        <img src="~/Images/exercise-fitness-gettyimage.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="height:80px;">

                        </div>
                    </div>
                    <div class="card" style="box-shadow:2px 2px 22px 7px rgba(255,255,255,1);">
                        <img src="~/Images/HS-HDElite-Rack-BC-4psd.jpg" onmouseover="bigImg(this)" onmouseout="normalImg(this)" class="card-img-top" style="height:200px;" alt="...">
                        <div class="card-body" style="height:80px;">

                        </div>
                    </div>
                    <div class="card" style="box-shadow:2px 2px 22px 7px rgba(255,255,255,1);">
                        <img src="~/Images/6-Reasons.png" class="card-img-top" alt="...">
                        <div class="card-body" style="height:80px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid" id="jumbotron">
        <div style="background-color:black; height:180px;">
            <img src="/Images/12618.gif" alt="Alternate Text" id="img" />
            <h1 class="display-4 p-3" id="h1">Geforce GYM</h1>
            <p class="lead" id="p"><i>No pain no gain!</i></p>
        </div>
    </div>
    <script>
        function bigImg(x) {
            x.style.height = "300px";
            x.style.width = "400px";
        }
        function normalImg(x) {
            x.style.height = "200px";
            x.style.width = "100%";
        }
    </script>
</body>
</html>
